.contact{
	background: black;
  color:white;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	gap: 2rem;
}
.main-contact h3{
	font-size: 23px;
	margin-bottom: 1.6rem;
	color: var(--bg-color);
}
.main-contact h5{
	font-size: 15px;
	font-weight: 600;
	color: rgb(170, 169, 167);
}
.icons{
	display: flex;
	margin-top: 2rem;
    color: aliceblue;
}
.icons i{
	font-size: 25px;
	margin-right: 1rem;
	color: rgb(170, 169, 167);
	transition: all .35s ease;
}
.icons i:hover{
	color: var(--bg-color);
	transform: scale(1.1) translateX(5px);
}
.main-contact li{
	margin-bottom: 15px;
}
.main-contact li a{
	display: block;
	color: rgb(170, 169, 167);
	font-size: var(--normal-font);
	font-weight: 600;
	transition: all .35s ease;
}
.main-contact li a:hover{
	transform: translateX(5px);
	color: var(--bg-color);
}

.last-text{
	text-align: center;
	padding: 20px;
	background: var(--bg-color);
}
.last-text p{
	color: #555;
	font-size: 14px;
	letter-spacing: 1px;
}

.top{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
}
.top i{
	font-size: 22px;
	color: var(--bg-color);
	padding: 14px;
	background: var(--bg-color);
	border-radius: 2rem;
}
 .new-content h4{
font-size: var(--h3-font);
 }
 .new-content{
    align-items: center;
 }
 .more{
    display: grid;
    /* grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(1, 2fr);
    row-gap: 20px;
    column-gap: 20px; */
    align-items: center;
    box-sizing: border-box;
    margin-top: 2rem;
 }

 .more .more-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(1, 2fr); */
    row-gap: 20px;
    column-gap: 20px;
    align-items: center;
    box-sizing: border-box;
    margin-top: 2rem;
 }

/* .more-content{
    box-sizing: border-box;
 } */

 .row{
    display: grid;
    gap: 1.0rem;
    align-items: center;
    margin-top: 2rem;
    padding: 25px;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
    /* border-radius: 2px; */
 }
 .row img{
    border-radius: 15px;
 }
 .text{
    font-size: var(--normal-font);
 }
 .text h4{
    text-align: center;
 }